<p class="text-success"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Bạn đã đăng kí tập huấn thành công!</p>
<p>Thư viện sẽ thông báo cho bạn thời gian tập huấn! Trở về trang <a href="/">đăng kí</a></p>