@{
    ViewBag.Title = "Đăng kí tập huấn";
    Layout = "~/Views/Shared/_Layout_reader.cshtml";
}

<section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Đăng kí tập huấn</h1>
                    @*<p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>*@
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="@Url.Action("index","reader")">Độc giả</a></li>
                        <li class="active">Đăng kí tập huấn</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->    

    <section class="container">
        <form class="form-horizontal" role="form" id="reg-form">
@*		  <div class="form-group">
			<label for="training-type" class="col-sm-3 col-md-3 control-label">Chọn loại tập huấn</label>
			<div class="col-sm-2 col-md-2">
				<select class="form-control" name="training-type" id="training-type">
				  <option value="personal">Cá nhân</option>
				  <option value="group">Tập thể</option>
				</select>
			</div>
		  </div>*@
            <div class="form-group">
                <div class="item">
                    <label for="rname" class="col-sm-2 col-md-2 control-label">Họ tên</label>
	                <div class="col-sm-2 col-md-2">
		                <input type="text" class="form-control" name="rname" id="rname" placeholder="Nhập họ tên">
	                </div>
                </div>
                <div class="item">
                    <label for="rphone" class="col-sm-2 col-md-2 control-label">Số điện thoại</label>
	                <div class="col-sm-2 col-md-2">
		                <input type="text" class="form-control" name="rphone" id="rphone" placeholder="Nhập sdt">
	                </div>
                </div>
                <div class="item">
                    <label for="rmail" class="col-sm-2 col-md-2 control-label">Email</label>
	                <div class="col-sm-2 col-md-2">
		                <input type="text" class="form-control" name="rmail" id="rmail" placeholder="Nhập email">
	                </div>
                </div>
            </div>
            <div class="form-group">
			    <label for="rtype" class="col-sm-2 col-md-2 control-label">Chọn loại đọc giả</label>
			    <div class="col-sm-2 col-md-2">
				    <select class="form-control" name="rtype" id="rtype">
				        <option value="sv" selected="selected">Sinh viên</option>
				        <option value="sdh">Sau đại học</option>
                        <option value="cb">Cán bộ</option>
				    </select>
			    </div>
		    </div>
			<div class="row">
			    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
				    <p><em>Thư viện sẽ gửi email thông báo ngày, giờ và phòng tập huấn nếu đủ số lượng đăng kí</em></p>
			    </div>
			</div>
@*		  <div id="group-training-wrapper">
			  <div class="form-group">
				<label for="number" class="col-sm-3 col-md-3 control-label">Số lượng người tập huấn</label>
				<div class="col-sm-2 col-md-2">
					 <input type="text" class="form-control" name="number" id="number" placeholder="Điền số lượng">
				</div>
			  </div>
				<div class="row">
					<div class="col-md-8 col-sm-8 col-md-offset-3 col-sm-offset-3">
						<p><em>Thư viện sẽ gửi email thông báo ngày, giờ và phòng tập huấn cho đọc giả đăng kí tập huấn tập thể</em></p>
						<p><em>Mỗi thành viên đến tập huấn đều phải là đọc giả của thư viện</em></p>
					</div>
				</div>
			</div>*@
		  <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">    
			  <button id="register-training-btn" type="submit" class="btn btn-success" data-action="@Url.Action("registertraining")">Đăng kí</button>
			</div>
		  </div>
		</form>
        <div class="row">
            <div id="ajax-loading" style="display: none" class="col-sm-4 col-sm-offset-2">
                <p><img src="@Url.Content("~/images/ajax-loader_1.gif")" /> Đang gửi đăng kí, xin vui lòng đợi</p>
            </div>
        </div>
        <div id="register-training-message" class="message" style="display:none">
        </div>
    </section><!--/#terms-->
