@model hcmuslib.Models.DOCGIA
@{
    ViewBag.Title = "BarcodeReader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>BarcodeReader</title>

    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/html5-qrcode.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>


<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Kiểm tra độc giả</h1>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Kiểm tra độc giả</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary" style="width:350px">
                <div class="panel-heading">
                    <h3 class="panel-title">Scan QR code here: </h3>
                </div>
                <div class="panel-body">
                    <div class="camera" style="height:250px;">

                        <div style="width: 300px; height: 250px;" id="qrcodebox">

                            <div id="reader" style="width:300px;height:250px">
                                <video autoplay="autoplay" id="html5_qrcode_video" width="300" height="250"></video>
                                <canvas id="qr-canvas" width="298" height="248" style="display:none;"></canvas>
                            </div>
                            <script>
                                $('#reader').html5_qrcode(function (data) {
                                    // do something when code is read
                                    $("#qrcode_result").html(data);
                                    $('#hid_btn').click();

                                },
                                    function (error) {
                                        //show read errors
                                    }, function (videoError) {
                                        //the video stream could be opened
                                        $("#qrcode_result").html("the video stream could be opened");
                                    }
                                );
                            </script>

                        </div>
                        <p>
                            <span id="qrcode_result"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @using (Ajax.BeginForm("GetDG", "Circulator", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "thongtin",
                LoadingElementId = "loader",
                HttpMethod = "Post"
            }))
            {
                string DG_ID = "";
                <div style="width:200px;height:30px">
                    @Html.TextBoxFor(m => DG_ID, new { @class = "form-control" })
                    <input id="hid_btn" type="submit" style="display:none" />
                </div>

            }
            <div id="loader" class="alert" style="display:none">
                <br />
                <br />
                <img src="~/Images/ajax-loader.gif" width="200" height="200" />
            </div>
            <div id="thongtin">
                @Html.Partial("GetDG")
            </div>

        </div>
    </div>
</section><!--/#terms-->
