@{
    ViewBag.Title = "QRCodeGenerate";
}
<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#result').hide();
    });
</script>


<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Phát Sinh Mã Vạch(QRCode)</h1>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Phát Sinh Mã Vạch(QRCode)</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section class="container">
    <div class="row">
        <div class="col-md-9" align="center">
            <div class="panel panel-primary" style="width:350px">
                <div class="panel-heading">
                    <h3 class="panel-title">Nhập Mã Vạch Ở Đây: </h3>
                </div>
                <div class="panel-body">
                    <form action="/Circulator/QrCodeGenerate" method="post" id="myForm" enctype="multipart/form-data">
                        <input type="file" name="img" id="img" style="display:none"/>
                        <input class="form-group-border" type="text" name="filename" id="data" onchange="Create();" />
                    </form>
                        <script>
                            function Create() {
                                $('#result').show();
                                var data = document.getElementById('data').value;
                                document.getElementById('qrimage').innerHTML = "<img src=https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=" + data + "/>";
                                document.getElementById('img').value = "https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=" + data;
                                
                            }
                            function Save() {
                                $('#myForm').submit();
                            }
                        </script>
                    <br />
                        <input class="btn" type="button" value="Create" onclick="Create();" />
</div>
                </div>
        </div>
        <div class="col-md-9" id="result" align="center">
            <div class="panel panel-primary" style="width:350px">
                <div class="panel-heading">
                    <h3 class="panel-title">QRCode: </h3>
                </div>
                <div class="panel-body">
                    <div id="qrimage">
                    </div>
                    <input type="button" class="btn-social" style="color:red" value="Save" onclick="Save();"/>
                </div>
            </div>
            
            
        </div>    
    </div>
</section><!--/#terms-->
