@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>*@

 <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Giới thiệu</h1>
                    <p></p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="@Url.Action("index","home")">Trang chủ</a></li>
                        <li class="active">Giới thiệu</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->

<section id="about-us" class="container">
        <div class="row">
            <h3>Giới thiệu về thư viện trường ĐH KHTN TPHCM</h3>
			<h4>Mã nguồn từ website thư viện http://gralib.hcmuns.edu.vn/introduction_vi/ , chưa style lại theo template này</h4>
			<td align="center" width="640" valign="top">
			  
  <table cellspacing="0" cellpadding="0" border="0" align="center" width="600" height="1052" id="AutoNumber1" style="border-collapse: collapse">
  <tbody><tr>
    <td background="images/title_bg.gif" height="35" colspan="2">
      <table cellspacing="0" cellpadding="0" bordercolor="#111111" border="0" width="100%" id="AutoNumber2" style="border-collapse: collapse">
        <tbody><tr>
          <td width="44	">&nbsp;</td>
          <td width="90" class="c_menu_level1">Giới thiệu</td>
          <td width="26"><img border="0" width="10" height="7" src="images/title_icon_menu.gif"></td>
          <td width="448" class="c_menu_level2">Tổng quan</td>
        </tr>
    </tbody></table></td>
  </tr>
  
  
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td height="1" class="title" colspan="2">THƯ VIỆN ĐẠI HỌC KHOA HỌC TỰ NHIÊN</td>
  </tr>
  <tr>
    <td height="1" colspan="2">Được xây dựng trên nền tảng Thư viện Cao học - Một mô hình thư viện hiện đại theo 
    dự án với sự đầu tư ban đầu của Vụ Sau đại học, Bộ Giáo dục Đào tạo và Đại 
    học Tổng hợp Tp. Hồ Chí Minh. Thành lập vào ngày 11/5/1995.</td>
  </tr>
  <tr>
    <td height="236" rowspan="7"> <img border="0" hspace="10" src="images/tongquan.jpg"></td>
    <td height="21" class="c_title_level1">
    <img border="0" width="11" height="11" src="images/c_icon_level1.gif"> Địa chỉ: </td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
  <tr>
    <td height="21">
      <ul type="square">
        <li>227 Nguyễn Văn Cừ, Quận 5, TP. Hồ Chí Minh</li>
        <li>Điện thoại: (84 8) 6288 4499 Ext. 3200 </li>
        <li> Fax: (84 8) 3835 0096</li>
        <li> Email: <a href="mailto:thuvien@hcmus.edu.vn">thuvien@hcmuns.edu.vn</a></li>
        <li>    Website:<span class="style2"> <a href="www.glib.hcmus.edu.vn">www.glib.hcmus.edu.vn</a></span></li>
    </ul></td>
  </tr>
 
  <tr>
    <td height="17" class="c_title_level1"><img border="0" width="11" height="11" src="images/c_icon_level1.gif"> Quan điểm:</td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
  <tr>
    <td height="68">Giá trị thư viện không phải ở chỗ thư viện có bao nhiêu tài nguyên thông tin mà là thư viện đáp ứng nhu cầu thông tin một cách có hiệu quả như thế nào từ nhiều nguồn ở khắp nơi thông qua công nghệ mới.    </td>
  </tr>
  
  <tr>
    <td height="17">&nbsp;</td>
  </tr>
  <tr>
    <td height="17" colspan="2" class="c_title_level1"> <img border="0" width="11" height="11" src="images/c_icon_level1.gif"> Mục tiêu:</td>
  </tr>
  <tr>
    <td height="5" colspan="2"></td>
  </tr>
  <tr>
    <td height="51" colspan="2">Thư viện ĐH Khoa học Tự nhiên được thành lập trên quan điểm hiện đại và sử dụng công nghệ mới tạo điều kiện tiếp cận và truy hồi thông tin một cách dễ dàng, cũng như đáp ứng mọi yêu cầu thông tin cho mọi đối tượng độc giả. </td>
  </tr>
  <tr>
    <td height="1" colspan="2"></td>
  </tr>
  <tr>
    <td height="17" colspan="2" class="c_title_level1">    </td>
  </tr>
  <tr>
    <td height="17" colspan="2" class="c_title_level1">
    <img border="0" width="11" height="11" src="images/c_icon_level1.gif"> Nhiệm vụ:</td>
  </tr>
  <tr>
    <td height="5" colspan="2"></td>
  </tr>
  <tr>
    <td height="51" colspan="2"><ul type="square">
      <li>Phục vụ yêu cầu học tập, giảng dạy nghiên cứu của sinh viên, giảng viên và nhà nghiên cứu thuộc trường ĐH Khoa học Tự nhiên và ĐH Quốc Gia Tp. Hồ Chí Minh</li>
      <li>Đáp ứng yêu cầu thông tin của mọi đối tượng độc giả </li>
    </ul></td>
  </tr>
 
  <tr>
    <td height="17" colspan="2"><span class="c_title_level1">
    <img border="0" width="11" height="11" src="images/c_icon_level1.gif"> Tổ chức:</span></td>
  </tr>
  <tr>
    <td height="5" colspan="2"></td>
  </tr>
  <tr>
    <td height="17" colspan="2">
    <div align="center">
      <center>
      <table cellspacing="0" cellpadding="3" bordercolor="#7F9DB9" border="1" width="570" style="border-collapse: collapse" id="AutoNumber4">
      <tbody><tr>
        <td bgcolor="#8AA5BF" width="172" valign="top" height="19" style="text-align: center">
        <font color="#FFFFFF"><b>DỊCH VỤ THÔNG TIN</b></font></td>
        <td bgcolor="#8AA5BF" width="180" valign="top" height="19" style="text-align: center">
        <font color="#FFFFFF"><b>CÔNG TÁC KỸ THUẬT</b></font></td>
        <td bgcolor="#8AA5BF" width="192" valign="top" height="19" style="text-align: center">
        <font color="#FFFFFF"><b>CÔNG CỤ &amp; CÔNG NGHỆ</b></font></td>
      </tr>
      <tr>
        <td bgcolor="#FFFFE6" width="172" valign="top" style="padding-left:13">
        <p style="line-height: 150%">- Phòng Lưu hành<br>
          - Phòng Tham khảo<br>
          - Phòng Tạp chí <br>
          - Không gian học tập chung<br>
        </p></td>
        <td bgcolor="#FFFFE6" width="180" valign="top" style="padding-left:13">
         <p align="left" style="line-height: 150%"> - Bộ phận Tài nguyên thông tin<br>
           -
          Bộ phận Công nghệ Thông tin <br>
         -
         Bộ phận Thư viện số</p></td>
        <td bgcolor="#FFFFE6" width="192" valign="top" style="padding-left:13">
         <p style="line-height: 150%">- Phân loại Dewey <br>
          -
          Tiêu đề đề mục <br>
          -
          Biên mục Dublin Core <br>
          -
          Kết xuất biểu ghi MARC <br>&nbsp;&nbsp; và Dublin Core <br>
          -
          Phần mềm mã nguồn mở<br>
          &nbsp;&nbsp; Thư viện số Greenstone <br>
         -
        Cổng thông tin<br><br>
        </p></td>
      </tr>
      </tbody></table>      </center>
    </div>    </td>
  </tr>
  
  <tr>
    <td height="15" colspan="2" class="c_title_level3">&nbsp;</td>
  </tr>
   <tr>
    <td height="17" colspan="2"><span class="c_title_level1">
    <img border="0" width="11" height="11" src="images/c_icon_level1.gif"> Thư viện số :</span></td>
  </tr>
  <tr>
    <td height="5" colspan="2"></td>
  </tr>
  <tr>
    <td height="34" colspan="2"><ul type="square">
      <li> Sử dụng phần mềm mã nguồn mở thư viện số Greenstone để tạo lập những Bộ sưu tập thông tin chuyên ngành Cổng thông tin tích hợp tài liệu điện tử từ mọi nguồn</li>
      <li>Cổng thông tin tích hợp tài liệu điện tử từ mọi nguồn<br>
      </li>
    </ul></td>
  </tr>
  
  
  <tr>
    <td height="17" colspan="2"><span class="c_title_level1">
    <img border="0" width="11" height="11" src="images/c_icon_level1.gif"> Dịch vụ tham khảo:</span></td>
  </tr>
  <tr>
    <td height="5" colspan="2"></td>
  </tr>
  <tr>
    <td height="17" colspan="2">Đáp ứng yêu cầu thông tin cho mọi đối tượng sinh viên, giảng viên, nhà nghiên cứu, doanh nghiệp, vv... Thông tin được cung cấp bao gồm Danh mục tài liệu dạng thư tịch; tài liệu điện tử toàn văn dạng text, HTML, PDF,vv...; tài liệu đa phương tiện: hình ảnh, âm thanh, phim, vv... Cung cấp dưới hình thức in ấn, photocopy, CD-ROM, DVD, vv... Đặc biệt thông tin có thể tổ chức thành Bộ sưu tập chuyên ngành trên CD-ROM phục vụ truy tìm, lướt tìm theo tác giả, nhan đề, từ khóa, tiêu đề đề mục, vv... </td>
  </tr>
  <tr>
    <td height="17" class="c_title_level1" colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td height="17" class="c_title_level1" colspan="2"><img border="0" width="11" height="11" src="images/c_icon_level1.gif"> Bộ sưu tập:</td>
  </tr>
  <tr>
    <td height="5" colspan="2"></td>
  </tr>
  
  <tr>
    <td height="17" colspan="2" class="c_title_level3"><div align="left">
      <table cellspacing="0" cellpadding="3" bordercolor="#7F9DB9" border="1" width="550" height="127" style="border-collapse: collapse" id="AutoNumber4">
        <tbody><tr>
          <td bgcolor="#8AA5BF" valign="top" height="19" style="text-align: center"><font color="#FFFFFF"><b>TÀI NGUYÊN IN ẤN</b></font></td>
          <td bgcolor="#8AA5BF" valign="top" height="19" style="text-align: center"><strong><font color="#FFFFFF">TÀI NGUYÊN ĐIỆN TỬ </font></strong></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFE6" width="261" valign="top" height="95" style="padding-left:13"><p style="line-height: 150%">&nbsp;- Sách báo chuyên ngành <br>
            &nbsp;- Tài liệu tham khảo <br>
            &nbsp;- Ấn phẩm liên tục <br>
            &nbsp;- Luận án sau đại học<br>
			&nbsp;- Báo cáo khoa học    <br>
			&nbsp;-        Kỷ yếu hội nghị.., v.v <br>
  </p>              </td>
          <td bgcolor="#FFFFE6" width="271" valign="top" height="95" style="padding-left:13"><p style="line-height: 150%">
          - CD-ROM <br>
            -
            CSDL CD-ROM <br>
            -
            CSDL trực tuyến <br>
            - Bộ sưu tập thông tin kỹ thuật số, v.v <br>
          </p></td>
        </tr>
      </tbody></table>
    </div></td>
  </tr>
  <tr>
    <td height="17" class="c_title_level1" colspan="2">&nbsp;</td>
  </tr>
  
  <tr>
    <td height="17" class="c_title_level1" colspan="2"><img border="0" width="11" height="11" src="images/c_icon_level1.gif"> Tập huấn:</td>
  </tr>
  <tr>
    <td height="5" colspan="2"></td>
  </tr>
  
  <tr>
    <td height="17" colspan="2" class="c_title_level3"><div align="left">
      <table cellspacing="0" cellpadding="3" bordercolor="#7F9DB9" border="1" width="550" height="127" style="border-collapse: collapse" id="AutoNumber4">
        <tbody><tr>
          <td bgcolor="#8AA5BF" valign="top" height="19" style="text-align: center" colspan="2"><font color="#FFFFFF"><b>Thư viện thường xuyên tổ chức tập huấn: </b></font> </td>
          </tr>
        <tr>
          <td bgcolor="#FFFFE6" width="261" valign="top" height="95" style="padding-left:13"><p style="line-height: 150%">&nbsp;- Tổ chức và Quản lý thư viện điện tử<br>
            &nbsp;- Phân loại Dewey<br>
            &nbsp;- Định chủ đề<br>
            &nbsp;- Mô tả AACR2            &nbsp;</p>              </td>
          <td bgcolor="#FFFFE6" width="271" valign="top" height="95" style="padding-left:13"><p style="line-height: 150%">
          - Biên mục MARC 21 và Dublin Core<br>
            -
            Công tác Tham khảo<br>
            -
            Thư viện số</p></td>
        </tr>
      </tbody></table>
    </div></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  </tbody></table>
	</td>
        </div><!--/#meet-the-team-->
    </section><!--/#about-us-->