@{
    ViewBag.Title = "Analytics";
    Layout = "~/Views/Shared/_Layout_librarian.cshtml";
}

 <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Thống kê đọc giả</h1>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="@Url.Action("index","librarian")">Quản lý độc giả</a></li>
                        
                        <li class="active">Thống kê đọc giả</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->    

    <section class="container">
		<div class="row">
			<div class="col-md-2">
				<label for="analytic-type">Chọn tiêu chí thống kê</label>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="analytic-type" id="analytic-type">
					<option>Giới tính</option>
					<option>Loại</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>
		<div class="gap"></div>
		<div class="row">
			<div id="sex-chart" style="width:100%; height:400px;"></div>
			<div id="type-chart" style="width:100%; height:400px;"></div>
		</div>
    </section><!--/#terms-->
@section charts {
<script type="text/javascript">
		jQuery(function ($) {
			$('#type-chart').highcharts({
				chart: {
					plotBackgroundColor: null,
					plotBorderWidth: 1,//null,
					plotShadow: false
				},
				title: {
					text: 'Thống kê đọc giả theo loại'
				},
				tooltip: {
					pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
							enabled: true,
							format: '<b>{point.name}</b>: {point.percentage:.1f} %',
							style: {
								color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
							}
						}
					}
				},
				series: [{
					type: 'pie',
					name: 'Browser share',
					data: [
						['Sinh viên',   60],
						['Ngoài đại học',       10],
						['Cán bộ',       30],
					]
				}],
				colors: ['#7cb5ec', '#90ed7d','#910000']
			});
		});
			
		jQuery(function ($) {
			$('#sex-chart').highcharts({
				chart: {
					plotBackgroundColor: null,
					plotBorderWidth: 1,//null,
					plotShadow: false
				},
				title: {
					text: 'Thống kê đọc giả theo giới tính'
				},
				tooltip: {
					pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
							enabled: true,
							format: '<b>{point.name}</b>: {point.percentage:.1f} %',
							style: {
								color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
							}
						}
					}
				},
				series: [{
					type: 'pie',
					name: 'Browser share',
					data: [
						['Nam',   55],
						['Nữ',       45],
					]
				}],
				colors: ['#7cb5ec', '#90ed7d']
			});
		});
		
		</script>
    }
