.widget.search {
	display: none;
	margin-bottom: 0px;
}
.registration-form.login-form {
	background-color: #f5f5f5;
}
.error-message{
	/* display: none; */
	color: red;
	font-weight: bold;
}

.gly-bigger {
	font-size: 24px;
}
.gly-bigger:hover {
	background-color: gray;
	-webkit-transition: background-color 3s;
}
.gly-link{
	display: inline-block;
	padding: 0 10px 0 10px;
}
.gly-link:hover {
	 background-color: gray;
	 border-radius: 25px;
	 transition: background-color 1s;
}
#personal-training-wrapper, #group-training-wrapper {
	display:none;
}
.form-group-border {
	border: 1px solid ;
}