@{
    ViewBag.Title = "ViewMS";
    
}
<head>
    <title>Theo Doi Muon Sach - Thư viện ĐH KHTN TPHCM</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/prettyPhoto.css" rel="stylesheet">
    <link href="/Content/animate.css" rel="stylesheet">
    <link href="/Content/main.css" rel="stylesheet">
    <link href="/Content/mystyle.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<section id="title4" class="emerald">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Theo dõi mượn sách</h1>
               
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active"><a href="#">Theo dõi mượn sách</a></li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->
<section id="theo_doi_muon_sach" class="container">
    <div class="row">
        <h3>Danh sách  </h3>
        @using (Ajax.BeginForm("AjaxApi_ViewMS", "LibrarianSupporter", new AjaxOptions 
        { 
            UpdateTargetId = "content_table", 
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "loader"
        }))
        {
            string keySearch = "";
            <h6>Tìm Kiếm Theo ID Lưu Hành, ID Độc Giả, ID Sách: </h6>
            <div style="width:200px;height:30px">
                @Html.TextBoxFor(m => keySearch, new { @class = "form-control" })              
                <input id="hid_btn" type="submit" style="display:none" />
            </div>
            <h6>Trên: </h6>
            <select class="form-control" style="width:200px;height:30px" id="mySelect" name="MSType" onchange="OnChangeMSType();">
                <option value="0" selected=@ViewBag.MsType0>All</option>
                <option value="1" selected=@ViewBag.MsType1>Đã trả</option>
                <option value="2" selected=@ViewBag.MsType2>Đang mượn</option>
                <option value="3" selected=@ViewBag.MsType3>Gần đến hạn</option>
            </select>
            <br />
            <br />
        }  
                    
        @*<form id="myForm1" action="/LibrarianSupporter/ViewMS" method="post">
        {Tìm Kiếm Theo Mã Độc Giả, Mã Lưu Hành, Mã Sách : <input type="text" name="keySearch" class="form-control" style="width:200px;height:30px" onsubmit="OnchangeMSType();" value="@ViewBag.CurrentFilter"  />
            Trên : <select class="form-control" style="width:200px;height:30px" id="mySelect" name="MSType" onchange="function OnchangeMSType() { $('#myForm1').submit(); };">
                <option value="0" selected=@ViewBag.MsType0>All</option>
                <option value="1" selected=@ViewBag.MsType1>Đã trả</option>
                <option value="2" selected=@ViewBag.MsType2>Đang mượn</option>
                <option value="3" selected=@ViewBag.MsType3>Gần đến hạn</option>
            </select>
        </form>
        }
        <br />*@

        </div>
        <script>
            $(document).ready(function () {
                $('select').change(function () {
                    $("select option:selected").each(function () {
                        if($(this).val() == "Gần đến hạn")
                            $('#td_n').style.display = "normal"
                    })                  
                })
            });
            function OnChangeMSType() {
                $('#hid_btn').click();
            }
        </script>
        <div id="content_table">
            <div id="loader" class=" aletr" style="display:none">
                <br />
                <br />
                <img src="~/Images/ajax-loader.gif" width="200" height="200" />
            </div> 
            @Html.Partial("AjaxApi_ViewMS")
        </div>
    </section>>
